pytest
homeassistant >= 2025.1.4
voluptuous
pytest-watcher
pytest-homeassistant-custom-component >=0.13.53
anyio
pre-commit
jinja2
requests
pyyaml
urllib3
awesomeversion
tzdata
zlib-ng

types-requests
types-pyyaml
homeassistant-stubs
mypy
